.menu {
	list-style-type: none;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: black;
	position: fixed;
	height: 100%;
	overflow: auto;
	color: white;
	overflow-x: scroll;
}

.menu li a {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
}

.content {
	margin-left: 25%;
	padding: 1px 16px;
	height: 1000px;
}